 .giftcards {
    border-radius: 15px;
    overflow: hidden;
    width: 30rem;
    height: 680px;
    padding: 1.5rem;
    margin: 3.5rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
} 

img {
    border-radius: 15px;
    overflow: hidden;
}


.giftWrap {
    padding: 0 2rem 2rem 2rem;
}

.row {
    justify-content: center;
}

.title {
    height: 100px;
    border-radius: 55px 0 0 55px;
    color: white;
    background-color: rgb(109, 0, 0);
    padding-left: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    /* border: 5px solid rgba(214, 0, 0, 0.5); */
    /* box-shadow: 1px 1px 5px rgba(0,0,0,0.5); */
    text-shadow: 5px 5px 5px rgba(0,0,0,1);
    display: flex;
    justify-content: left;
    align-items: center;
}

.h1 {
    color:white;
    padding: 0;
    margin:0;
    text-align: center;
    align-items: center;
    font-size: 7rem;
    font-family: 'ornament', 'Arial Narrow Bold', sans-serif;
    letter-spacing: .5rem;;
}

.card {
    font-size: 1.875rem;
}

.cardTitle {
    font-family: 'christmas', sans-serif;
    font-size: 5rem;
}

.card-text {
    font-family: 'garamond', serif;
    font-size: 2.5rem;
}

.giftOut {
    text-decoration: none;
    width: 100%;
    margin-bottom: 0.25rem;
    font-weight: 1000;
}

.giftDropdown {
    width: 100%;
    border-radius: 25px 25px 0 0;
    color: white;
}

.giftSelectWrap {
    font-family: 'garamond';
    font-weight: bolder;
}

.giftOption {
    color: white;
}

.giftSubButton {
    font-size: 1.75rem;
    font-weight: 1000;
}


.mdc-text-field {
    background-color: darkgreen;
}

a {
    color: rgb(0, 44, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(38, 119, 45);
}
