.detailBacking {
    background-color: rgba(250, 235, 215, 0.75);
    border-radius:  25px;
    margin: 0;
    padding: 3rem;
    padding-top: 1rem;
    box-shadow: 1px 1px 14px rgb(0, 44, 20, 0.75);
}

.detailDelete {
    display: flex;
    justify-content: right;
}

.detailHeader {
    display: flex;
    align-items: center;
    justify-content: center;

}

.detailNameHead {
    display: flex;
    justify-content: center;
    align-items: center;

}

.personDetailImage {
    position: relative;

    width: 100%;
    height: 250px;
    border-radius: 25px;
    border: 2px solid rgb(218, 165, 32);
    padding: 0;
    margin: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 3rem; */
}

.detailName{
    z-index: 10;
    font-size: 7rem;
    letter-spacing: 2rem;
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    color: white;
    text-shadow: 2px 2px 5px black;
    background-color: rgba(218, 165, 32, 0.5);

}


.detailImage {
    z-index: 0;
    width: 100%;
    height: auto;
    position: absolute;
}

.detailCard {
    width: 150px;
    height: auto;
    margin: 1rem;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
    text-align: center;
}

.wishName {
    color: rgb(40, 61, 3);
}

.purchased {
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    background-color: rgb(41, 65, 0);
}

.purchased p {
    color: white;
}

.detailDeleteButton:hover {

    background-color: #d9534f;
}