.personDetailImage {
    width: 150px;
    height: 100px;
    border-radius: 55px;
    border: 2px solid goldenrod;
    padding: 0;
    margin: 01rem;
    overflow: hidden;
    margin-left: 3rem;
}

.detailImage {
    width: 150px;
}

.detailCard {
    width: 150px;
    height: auto;
    margin: 1rem;
    border-radius: 25px 25px 0 0;
    overflow: hidden;
    text-align: center;
}

.wishName {
    color: rgb(40, 61, 3);
}

.purchased {
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    background-color: rgb(41, 65, 0);
}

.purchased p {
    color: white;
}