<div class="row">
    <div class="personDetailImage">
        <img class="detailImage" src="{{ person.imageUrl }}" alt="">
    </div>
    <div class="row col-xs-6">
        <h2>{{person.name}}</h2>
    <div class="row col-xs-12">
            <h2>Wish List:</h2>
            <div class="wishlist" *ngFor="let wish of wishlist">
                <div class="card detailCard">
                    <img src="{{ wish.link }}" alt="wish.link" >
                    <h3 class="wishName">{{ wish.name }}</h3>
                    <div *ngIf="wish.bought">
                        <div class="purchased">
                            <!-- <a class="btn btn-raised-success">Purchased</a> -->
                            <p>Purchased</p>
                        </div>
                    </div>
                    <div *ngIf="!wish.bought">
                        <a class="btn btn-raised-danger">Bought</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- <ng-template #notBought class="notBought">Not Purchased</ng-template>
<ng-template #purchased class="purchased">Purchased</ng-template> -->