<a 
    class="list-group-item clearfix"
    routerLink="{{ contact.id }}"
    routerLinkActive="active"
    >
    <div class="pull-left">
        <h4 class="list-group-item-heading contactTitle">{{ contact.name }}</h4>
        <!-- <p class="list-group-item-text">{{ contact.group }}</p> -->
    </div>
    <span class="pull-right" *ngIf="contact.imageUrl !== ' '">
        <img src="{{ contact.imageUrl }}"
        alt="Image of {{ contact.name }}" 
        class="img-responsive" 
        style="max-height: 75px;">
    </span>
</a>