footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    background-color: rgb(37, 58, 17);

    
}

footer p {
    margin: 0;
    padding: .5rem;
    color: white;
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    letter-spacing: .5rem;
}