<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>I'm working!</h1>
      <app-header></app-header>
      <div class="container" style="background: lightgrey">
        <h2>Recipe Components</h2>
        <app-recipe-book></app-recipe-book>
        <app-recipe></app-recipe>
        <app-recipe-detail></app-recipe-detail>
        <app-recipe-item></app-recipe-item>
        <app-recipe-list></app-recipe-list>
      </div>
      <div class="container" style="background: lightyellow">
        <h2>Shopping Lists Components</h2>
        <app-shopping-list></app-shopping-list>
        <app-ingredients></app-ingredients>
        <app-lists></app-lists>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron text-center"><p>Test</p></div>