
<div class="panel panel-default">
    <div class="panel-body">
      <form id="contact-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="name">Name:</label>
                <input
                type="text"
                id="name"
                class="form-control required requiredInput"
                size="120"
                max="120"
                name="name"
                [ngModel]="person?.name"
                #name="ngModel"
                required>
            </div>
            <div class="alert alert-danger" 
                *ngIf="name.touched && !name.valid">
                <p>Please enter a valid name.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 form-group">
              <label for="imageUrl">Image URL:</label>
              <input
                type="text"
                id="imageUrl"
                class="form-control required requiredInput"
                size="150"
                max="1000"
                name="imageUrl"
                [ngModel]="person?.imageUrl"
                #imageUrl="ngModel"
                required>
            </div>
          </div>
  
        <div class="row">
          <div class="col-sm-12 form-group">
            <label for="bio">Bio:</label>
            <input
              type="text"
              id="bio"
              class="form-control invalid"
              size="150"
              max="255"
              name="bio"
              [ngModel]="person?.bio"
              #bio="ngModel"
            >
            <!-- <div class="alert alert-danger" 
              *ngIf="phone.touched && !phone.valid">
              <p>Please enter a valid phone number.</p>
            </div> -->
          </div>
        </div>
  
    
  
        <div class="row">
          <div class="col-xs-12 btn-toolbar">
            <button
             class="btn btn-success"
             type="submit"
             [disabled]="!f.valid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
          </div>
        </div>
  
      </form>
    </div>
  </div>