<div style="position: relative; z-index: 10;">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron" style="z-index: 10;">
        <h1>People</h1>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="row personWrap">
    <a routerLink="1">
      <div class="card homecards">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/people/101.webp" class="card-img-top" alt="Sunset Over the Sea"/>
          <div class="card-body">
          <h2>Person 1</h2>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
    </a>  
    <a routerLink="2">
      <div class="card homecards">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/people/100.webp" class="card-img-top" alt="Sunset Over the Sea"/>
          <div class="card-body">
          <h2>Person 2</h2>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
    </a>  
    <a routerLink="3">
      <div class="card homecards">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/people/099.webp" class="card-img-top" alt="Sunset Over the Sea"/>
          <div class="card-body">
          <h2>Person 3</h2>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>
    </a>  
  </div>
</div>