.homecards {
    border-radius: 15px;
    overflow: hidden;
    width: 53rem;
    height: 550px;
    padding: 1.5rem;
    margin: 1.5rem;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    border-radius: 15px;
    overflow: hidden;
}

h2 {
    font-family: 'christmas';
    font-size: 20rem;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 25px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);

}

p {
    font-family: 'Christmas';
    font-size: 4rem;
    line-height: 35px;
}

a {
    text-decoration: none;
}

a h2 {
    color: red;
}

a p {
    color: darkgreen;
}