<div class="col-xs-12 dflex"  style="z-index: 1;">
    <!-- <h1>Make a Selection:</h1> -->
    <div class="row justify-content-center" style="display: flex">
    <!-- Router Links -->
        <a routerLink="/people">
            <div class="card homecards">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/people/036.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                <div class="card-body">
                <h2>People</h2>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>

        <a routerLink="/lists">
            <div class="card homecards">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/015.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                <div class="card-body">
                <h2>Lists</h2>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>

        <a routerLink="/gifts">
            <div class="card homecards">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/018.webp" class="card-img-top" alt="Sunset Over the Sea"/>
                <div class="card-body">
                <h2>Gifts</h2>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>

    </div>
</div>