<div class="row">
    <div class="col-xs-10">
      <app-lists
        (ingredientAdded)="onIngredientAdded($event)"
      ></app-lists>

        <app-ingredients></app-ingredients>
        <h3>Shopping Edit HTML goes here</h3>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer"
            *ngFor="let ingredient of ingredients"
            >
            {{ingredient.name}}
            {{ingredient.amount}}
            </a>
        </ul>
    </div>
</div>